* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: red;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background: transparent;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

nav ul li {
  display: inline-block;
  padding: 0px 40px;
}

nav ul li a {
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: red;
  transition: all 0.3s ease 0s;
}

header > button {
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header > button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.big-container {
  background: url('../image/pexels-rodnae-productions-7464426.jpg') no-repeat center center/cover;
  width: 100%;
  /* height: 100vh; */
  display: block;
  position: relative;
  z-index: 1; 
}

.big-container:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(to right, rgba(7, 46, 61, 0.95), rgba(23, 81, 104, 0.95), rgba(22, 111, 133, 0.9), rgba(48, 155, 205, 0.85), rgba(86, 116, 128, 0.95));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  padding: 1px 100px;
  justify-content: space-between;
  color: #FFF;
}

.hero-info h1 {
  font-size: 40px;
}

.hero-info p {
  margin: 30px 0;
  font-weight: 400;
  line-height: 2;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline {
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  padding: 12px 30px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-outline:hover {
  background: #ffffff;
  color: red;
}

i.fa {
  margin-right: 10px;
}

.content ul {
  list-style: none;
  display: flex;
  margin-top: 30px;
}

.content li {
  margin: 10px;
}

.content ul li a:hover{
  color: red;
}

.m-50 {
  margin: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

