* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-search h5 {
  color: white;
  padding: 10px 70px;
  font-size: 20px;
  z-index: 1;
}

span {
  color: red;
}

span-2 {
  color: red;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 8%;
  background: transparent;
}

button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #FFF;
  background: red;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: red;
  transition: ease-out 2s;
}

.container-search .d-flex .btn {
  background: red;
  color: white;
}

.container-search .d-flex .btn:hover {
  background: rgb(218, 99, 99);
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

nav ul li {
  display: inline-block;
  padding: 2px 15px;
}

header > button {
  padding: 8px 20px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header > button:hover {
  background-color: white;
  color: black;
}

.big-container {
  background: url('../image/pexels-rodnae-productions-7464426.jpg') no-repeat center center/cover;
  width: 100%;
  /* height: 100vh; */
  display: block;
  position: relative;
  z-index: 1; 
}

.big-container:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(to right, rgba(7, 46, 61, 0.95), rgba(23, 81, 104, 0.95), rgba(22, 111, 133, 0.9), rgba(48, 155, 205, 0.85), rgba(86, 116, 128, 0.95));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  padding: 1px 100px;
  justify-content: space-between;
  color: #FFF;
}

.hero-info h1 {
  font-size: 40px;
}

.hero-info p {
  margin: 30px 0;
  font-weight: 400;
  line-height: 2;
}

i.fa {
  margin-right: 10px;
}

.content .container-search button {

} 

.m-50 {
  margin: 30px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*---- new ------*/
.delivery-container {
  background: rgb(221, 218, 218);
  padding: 50px 0;
}

.delivery-container .service-container {
  background: white;
  border-radius: 10px;
  border: 2px solid rgb(221, 218, 218);
}

.delivery-container .service-container .row .col {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.delivery-container .service-container .row .col:hover {
  background: rgb(0, 0, 0);
  color: whitesmoke;
  font-weight: 700;
  transition: 0.8s;
}

.icon {
  color: red;
}

.app-container .container h2 {
  justify-content: center;
  margin-top: 150px;
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-container .container .image {
  margin-top: 50px;
  margin-left: 100px;
}

.app-container .container .app button {
  color: white;
}

.app-container .container .app button:hover {
  transition: all 0.9s ease 0s;
}

.information-container .container-fluid {
  background: rgb(221, 218, 218);
  padding: 0px 0px;
  margin-top: 50px;
}

.information-container .container-fluid .container .text-container .row {
  justify-content: space-between;
  margin: 50px 0px;
  padding: 50px 0;
}

.information-container .container-fluid .container .text-container .row h4 {
  font-size: 20px;
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
  margin-top: 15px;
}

.information-container .container-fluid h3{
  padding-top: 100px;
}

.information-container .container-fluid .text-container .col p {
  justify-content: flex-start;
  font-size: 15px;
  /* padding: 10px 10px; */
  margin: 0 0px
}

.footer h6 a {
  text-decoration: none;
  color: black;
}

.footer h6 a:hover {
  color: red;
}

.back-to-top {
  position: fixed;
  /* display: none; */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 10px;
  bottom: 40px;
  background: red;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-to-top:hover {
  color: #fff;
  background: rgb(194, 34, 34);
  transition: background 0.2s ease-in-out;
}